.gnb ul li:nth-child(2){
    background-color: var(--LightSkyblue);
}

.marketPrice{
    width: 100%;
}
.marketPrice .marketSelect{
    background-color: var(--LightGrey);
    display: flex;
    justify-content: center;
    padding: 5px;
    font-size: 15px;
    line-height: 26px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.marketPrice .marketSelect div:first-child{
    background-color: var(--PointColor);
    width: 45px;
    color: white;
    margin-right: 15px;
}

.marketPrice .marketPrice_show{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.marketPrice .marketPrice_show .marketPrice_search{
    margin: 8px;
    border: solid 1px var(--BorderColor);
    border-right: none;
    width: 300px;
    overflow: hidden;
}
.marketPrice .marketPrice_show .marketPrice_search [type="text"]{
    border: none;
    width: 250px;
}
.marketPrice .marketPrice_show .marketPrice_search [type="text"]:focus{
    outline: none;
}
.marketPrice .marketPrice_show .marketPrice_search [type="submit"]{
    border: none;
    background-color: var(--Blue);
    float: right;
    color: white;
    width: 46px;
}
.marketPrice .marketPrice_show .marketPrice_search [type="submit"]:hover{
    background-color: var(--Darkblue);
}
.marketPrice .marketPrice_list{
    width: 100%;
    padding: 10px 0px;
}
.marketPrice .marketPrice_list li{
    line-height: 35px;
}
.marketPrice .marketPrice_list li:nth-child(2n-1){
    border-right: 1px solid var(--BorderColor);
}