.gnb ul li:nth-child(4){
    background-color: var(--LightSkyblue);
}

.myPage{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}
.myPage > span:first-child{
    text-align: left;
    padding: 10px 60px;
    background-color: var(--LightGrey);
    font-weight: 600;
    color: #575757;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.myPage .userInfo{
    text-align: left;
    display: flex;
    align-items: center;
    height: 60px;
    position: relative;
}
.myPage .userInfo button{
    display: flex;
    align-items: center;
    background-color: inherit;
    border: none;
}
.myPage .userInfo button:first-child{
    position: absolute;
    left: 60px;
}
.myPage .userInfo button:nth-child(2){
    position: absolute;
    right: 100px;
}
.myPage .userInfo button:last-child{
    position: absolute;
    right: 35px;
}
.myPage .userInfo button img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.myPage .userActivity{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}
.myPage .userActivity .userActivity_list{
    display: flex;
    justify-content: space-around;
    height: 60px;
}
.myPage .userActivity .userActivity_list li{
    width: 100%;
}
.myPage .userActivity .userActivity_list li:hover{
    background-color: var(--LightGrey);
}
.myPage .userActivity .userActivity_list li button{
    width: 100%;
    height: 100%;
    background-color: inherit;
    border: 1px solid var(--LightGrey);
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0px 55px;
}
.myPage .userActivity .userActivity_list li img{
    width: 30px;
    margin-right: 4px;
}
.myPage .userActivity .userActivity_show{
    border-bottom: 1px solid var(--BorderColor);
}
.myPage .userActivity .userActivity_show li{
    text-align: left;
    padding-left: 60px;
    border-bottom: 1px solid var(--BorderColor);
    position: relative;
    padding-right: 70px;
    line-height: 40px;
}
.myPage .userActivity .userActivity_show .more_btn{
    text-align: left;
    padding-left: 60px;
    position: relative;
    padding-right: 70px;
    line-height: 40px;
}
.etcActivity{
    width: 100%;
    text-align: left;
}
.etcActivity ul{
}
.etcActivity ul li{
    line-height: 60px;
    border-bottom: 1px solid var(--BorderColor);
    padding-left: 5px;
}
.etcActivity ul li:last-of-type{
    border-bottom: none;
}
.etcActivity ul li button{
    font-size: 17px;
}
.etcActivity ul li img{
    width: 18px;
    height: 15px;
    margin-left: 5px;
}
