.shop{
    width: 100%;
    text-align: center;
    line-height: 40px;
}
.shop .shop_title{
    background-color: var(--LightGrey);
    font-weight: 600;
}
.shop .shop_info{
    color: var(--DarkGray);
}
.shop .shop_info .shop_intro{
    border-bottom: 1px solid var(--BorderColor);
}
.shop .shop_info .shop_img{
    line-height: 15px;
    max-height: 420px;
    overflow: hidden;
}
.shop .shop_info .shop_product{
    background-color: var(--LightGrey);
}
.shop .shop_info .shop_img img{
    width: 600px;
}
.shop .shop_info .product_list{
}
.shop .shop_info .product_list li span{
    display: inline-block;
    width: 45%;
}
input[type="submit"]{
    border: none;
    background-color: var(--Blue);
    color: white;
    line-height: 30px;
    border-radius: 5px;
}
input[type="submit"]:hover{
    background-color: var(--Darkblue);
}

