.shop{
    width: 100%;
    text-align: center;
    line-height: 40px;
}
.shop .shop_title{
    background-color: var(--LightGrey);
    font-weight: 600;
}
.shop .shop_info{
    color: var(--DarkGray);
}
.shop .shop_info .shop_intro{
    border-bottom: 1px solid var(--BorderColor);
}

.shop .shop_info ul{
    width: 100%;
}
.shop .shop_info ul li span{
    display: inline-block;
    width: 45%;
}
input[type="submit"]{
    border: none;
    background-color: var(--Blue);
    color: white;
    line-height: 30px;
    border-radius: 5px;
}
input[type="submit"]:hover{
    background-color: var(--Darkblue);
}

